
.header-top {
  display: grid;
  justify-content: center;
  align-content: center;
  }

.header-image {
  width: 40%;
  height: 90%;
  margin-top: 5px;
  justify-self: center;
  align-self: center;
}