.navbar {
  background: #26a0da;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.navbar-inner {
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "logo checkbox checkbox menu";
  grid-template-columns: 50px minmax(auto, 600px) auto;
  grid-template-rows: 50px;
}

.navbar-menu {
  display: flex;
  grid-area: menu;
  justify-items: center;
  align-content: center;
  grid-column-start: 4;
}

.navbar-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
}

.navlinks {
  text-decoration: none;
  color: #314755;
}
.navlinks:hover {
  color: white;
  border-bottom: 1px solid white;
}

.nav-image {
  grid-area: logo;
  max-width: 100%;
  max-height: 100%;
}

.ham-toggle {
  grid-area: checkbox;
  justify-self: right;
  align-self: center;
  padding: 15px;
  margin-right: 20px;
  font-size: 30px;
  height: 100%;
  visibility: hidden;
}

.hamburger-menu {
  grid-area: checkbox;
  display: none;
}


@media screen and (max-width: 800px) {
  .navbar-inner {
    display: grid;
    grid-template-areas:  "logo checkbox"
                          "menu menu";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 20% 80%;
    background: #26a0da;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
  }
  
  .navbar-menu {
    display: flex;
    grid-area: menu;
    list-style-type: none;
    flex-direction: column;
    width: 100%;
    grid-column-start: 1;
    background: var(--blue);
  }

  .hamburger-menu:checked ~ .navbar-menu {
    display: none;
  }

  .ham-toggle {
    visibility: visible;
    cursor: pointer;
  }
}

